<style>
  .bt-link--member {
    background-color: #FFD362;
  }
  .bt--bt-link {
    cursor: pointer;
    border-radius: 12px;
    padding: 20px 50px;
  }

  .link--bt-link {
    color: #191B1E !important;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
  }

</style>

<template>
  <table style="width: 100%; padding: 40px 0;" align="center" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td>
        <table class="bt-bt-link bt-link--member" align="center" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td><a href="" class="link--bt-link bt-link--member" target="_blank">Link</a></td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</template>