<style>
  .title--footer {
    color: #191B1E;
    text-align: center;
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    
    @media (min-width: 768px) {
      font-size: 25px;
      line-height: 30px;
    }
  }
  .text--footer {
    color: #191B1E;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
  }

  .text--footer {
    padding: 16px 64px 0;
  }

  .footer {
    width: 100%;
    @media (min-width: 768px) {
      width: 670px;
    }
  }
  
</style>

<template>
  <table class="footer" align="center" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td align="center" style="padding: 0 24px">
        <span class="title--footer">Дякуємо, що скористалися пошукатором страховок Polis.ua!</span>
      </td>
    </tr>
    <tr>
      <td class="text-row--footer">
        <p class="text--footer">Polis.ua - фінансовий онлайн-супермаркет. Загальнодержавний сервіс порівняння та оформлення кращих страхових та фінансових продуктів України. Свідомі фінансові рішення в декілька кліків.</p>
      </td>
    </tr>
    <tr>
      <td>
        <table align="center" border="0" cellpadding="0" cellspacing="0" style="padding: 22px 0;">
          <tr>
            <td style="padding-right: 10px;"><a href="https://facebook.com/polis.ua.insurance/" target="_blank"><img style="height: 24px; width: 24px;" src="https://polis.ua/static/img/email/green-card-purchase/facebook.png" alt="facebook icon"></a></td>
            <td style="padding: 0 10px;"><a href="https://youtube.com/channel/UC_OX5i3CYGk9_QdI3nUruaw" target="_blank"><img style="height: 24px; width: 24px;" src="https://polis.ua/static/img/email/green-card-purchase/youtube.png" alt="youtube icon"></a></td>
            <td style="padding: 0 10px;"><a href="https://t.me/Polis_ua" target="_blank"><img style="height: 24px; width: 24px;" src="https://polis.ua/static/img/email/green-card-purchase/telegram.png" alt="telegram icon"></a></td>
            <td style="padding: 0 10px;"><a href="https://tiktok.com/@polis.ua" target="_blank"><img style="height: 24px; width: 24px;" src="https://polis.ua/static/img/email/green-card-purchase/tiktok.png" alt="tiktok icon"></a></td>
            <td style="padding-left: 10px;"><a href="https://instagram.com/polis.ua/" target="_blank"><img style="height: 24px; width: 24px;" src="https://polis.ua/static/img/email/green-card-purchase/instagram.png" alt="instagram icon"></a></td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</template>